body,
html {
  font-family: "Open Sans";
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--text);
  background: var(--background);
  min-height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.expand {
  height: 100%;
}

.center {
  justify-content: center;
}

.spaced {
  justify-content: space-between;
}

.max {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

p,
li {
  line-height: 1.5;
}

P {
  margin: 16px 0;
}

li {
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  list-style-type: disc;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 32px 0px;
  font-weight: 600;
}
